[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh/dracula"]
	path = zsh/dracula
	url = https://github.com/dracula/zsh.git
[submodule "vim/Vundle.vim"]
	path = vim/Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim.git
